 :root {
     --concern-height: 15px;
     --tool-tip: white;
     --concern1: #ffc4c4;
     --concern2: #ff8d8d;
     --concern3: #ff8d35;
     --concern4: #d42f2f;
     --concern5: #5c0000;
 }

 body {
     margin: 0;
     padding: 0;
     font-family: Helvetica, sans-serif;
     font-weight: 200;
     box-sizing: border-box;
     /* background-color: #ffffff; */
 }

 .concern1 {
     background-color: var(--concern1);
 }

 .concern2 {
     background-color: var(--concern2);
 }

 .concern3 {
     background-color: var(--concern3);
 }

 .concern4 {
     background-color: var(--concern4);
 }

 .concern5 {
     background-color: var(--concern5);
 }

 #canvas {
     height: auto;
     position: absolute;
 }

 #weeks-wrapper, #weeks-wrapper--demo {
     /* margin-top: 55px; */
     padding-top: 100px;
     display: grid;
     grid-template-columns: 50px repeat(5, minmax(100px, 15%));
     grid-auto-flow: column;
     position: relative;
     border: 1px solid black;
     min-height: 100vh;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23d2d2d2' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
 }

 .input-section {
     padding-left: 3rem;
     background-color: white;
     z-index: 1;
     height: 70px;
     width: 100%;
     display: flex;
     align-items: center;
     position: fixed;
 }

 .input-section label:first-of-type {
     margin-left: 50px;
 }

 .input-section label {
     font-size: 0.75rem;
     font-weight: 600;
     width: 80px;
     color: grey;
     align-self: flex-end;
 }

 #about-section {
     color: white;
     justify-self: flex-end;
     margin-left: 250px;
     padding: 0.5rem;
     background-color: #181717;
     cursor: pointer;

 }

 .about-box {
     height: 800px;
     right: 0;
     float: right;
     width: 500px;
     overflow: hidden;
     transition: transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
     transform: translate(500px, 0);
     background-color: #181818;
     color: white;
     position: fixed;
     z-index: 100;
     cursor: pointer;
     box-shadow: 0px 2px 10px black;
 }

 .about-box div {
     padding: 4rem;
     line-height: 1.75rem;
 }

 .about-box div caption {
     font-size: 0.5rem;
 }

 .about-box h2 {
     font-size: 3rem;
     line-height: 2.5rem;
 }

 prompt {
     font-weight: 600;
     color: mediumvioletred;
     font-size: 0.75rem !important;
 }

 .display-about {
     transition: transform 0.6s ease;
     transform: translate(0, 0);
 }

 .input-section input {
     -webkit-appearance: none;
     border: none;
 }

 .single-week {
     background-color: rgba(0, 0, 0, 0);
     width: 100%;
 }

 .title {
     /* border-bottom: 1px solid black; */
     text-align: right !important;
 }

 .week-title {
     height: 50px;
     display: block;
     margin-bottom: 50px;
 }

 .single-week--state {
     background-color: rgb(255, 255, 255, 0.2);
     width: 95%;
     height: var(--concern-height);
     margin-left: auto;
     margin-right: auto;
     display: block;
     /* height: calc(90vh/53); */
 }

 .single-concern {
     /* border: 1px solid black; */
     display: inline-block;
     height: 100%;
     cursor: crosshair;
 }

 .single-concern:hover {
     opacity: 0.5;
 }

 .state-header {
     position: relative;
     display: inline;
     line-height: 0rem;
     font-size: 0.75rem;
 }

 .tool-tip {
     transition: all 0.5s ease;
     position: absolute;
     background-color: var(--tool-tip);
     font-size: 1rem;
     padding: 5px;
     z-index: 99;
     box-shadow: 0px 2px 10px black;
 }

 .tool-tip div:nth-of-type(1) {
     font-weight: 600;
 }